#header {
    display: flex;
    justify-content: space-between;
    margin: 0 4px;
    height: 7rem;
    align-items: center;
    border-bottom: 1px solid var(--border-line-color);
}

.header__left {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    gap: 3rem;
    align-items: center;
}

.header__logo-link {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.header__logo-img {
    height: 5rem;
}

.header__logo-text {
    font-size: 3.8rem;
    font-family: var(--font-header-logo);
    color: var(--primary-color);
    font-weight: bold;
}

.header__menu {
    border: 1px solid var(--border-line-color);
    border-radius: 1rem;
    height: 4.6rem;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    color: var(--text-navbar-color);
    padding: 0 1rem;
    cursor: pointer;
    user-select: none;
    gap: 2px;
}

.header__menu i {
    font-size: 1.8rem;
}

.header__menu span {
    font-size: 1.6rem;
}

.header__search {
    display: flex;
    align-items: center;
    max-width: 45rem;
    max-height: 4.6rem;
    border: 1px solid var(--border-line-color);
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

.header__search i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    font-size: 1.6rem;
    color: var(--text-navbar-color);
    height: 100%;
    cursor: pointer;
    border-radius: 0.5rem 0 0 0.5rem;
}

.header__search input {
    flex: 1;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 100%;
    border: none;
    font-size: 1.5rem;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__item-icon {
    width: 4.2rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--border-line-color);
    border-radius: 50%;
}

.header__item-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--text-color);
}

.header__item-authen {
    display: flex;
    align-items: center;
    height: 4.8rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    font-size: 2.5rem;
    color: var(--text-color);
    padding: 0 1rem;
    cursor: pointer;
    user-select: none;
}