#container {
    margin-top: 1rem;
}

.content__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.8rem;
}

.category {
    display: block;
    border-radius: 1rem;
    background-color: var(--white-color);
    box-shadow: var(--tw-shadow);
    grid-row: span 4 / span 4;
}

.category__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 1rem;
    cursor: pointer;
    transition-duration: 0.3s;
}

.category__item:hover {
    background-color: var(--categories-hover);
}

.category__item span {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 1.6rem;
}

.category__item span a,
.category__item i {
    font-size: 1.4rem;
}

.category__item span a {
    transition-duration: 0.3s;
}

.icon__down {
    color: var(--icon-down-color);
}

.category__item span a:hover {
    color: var(--primary-color);
}

.advertisement {
    display: block;
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    border-radius: 1rem;
}

.banner__large-swiper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--tw-shadow);
}

.swiper-slide {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
}

.swiper-slide > a {
    display: block;
    cursor: pointer;
}

.swiper-slide > a > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.swiper-pagination {
    background-color: transparent;  
    gap: 10px;
}

.swiper-pagination > span {
    width: 35px;
    height: 3px;
    border: none;
    border-radius: 10px;
}

.swiper-button.swiper-button-next,
.swiper-button.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.swiper-button.swiper-button-prev {
    border-radius: 0 50px 50px 0;
    left: 0;
    transform: translateX(-30px);
}

.swiper-button.swiper-button-next {
    right: 0;
    border-radius: 50px 0 0 50px;
    transform: translateX(30px);
}

.swiper-button.swiper-button-prev::after,
.swiper-button.swiper-button-next::after {
    font-size: 1.8rem;
    font-weight: bold;
}

.swiper-button.swiper-button-prev::after {
    position: relative;
    right: 2px;
}

.swiper-button.swiper-button-next::after {
    position: relative;
    left: 2px;
}

.swiper:hover .swiper-button.swiper-button-next,
.swiper:hover .swiper-button.swiper-button-prev {
    opacity: 1;
    visibility: visible;
    transform: translateX(0); /* trượt về vị trí ban đầu */
}

.swiper-button-disabled {
    opacity: 0.3 !important;
    cursor: not-allowed !important;
    pointer-events: none;
}

.banner__small {
    display: flex;
    gap: 1.2rem;
    margin-top: 0.8rem;
}

.banner__small > a {
    box-shadow: var(--tw-shadow);
}

.banner__small > a > img {
    width: 23rem;
    border-radius: 1rem;
    height: 12rem;
}

.banner__vertical {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    border-radius: 1rem;
}

.banner__info {
    box-shadow: var(--tw-shadow);
    border-radius: 1rem;
    padding: 1rem 0.5rem 0.6rem 0.5rem;
}

.welcome__authen-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 1.4rem;
    width: 100%;
}

.header__welcome-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--border-line-color);
    vertical-align: middle;
    object-fit: contain;
}

.welcome__text {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

.welcome__text > span {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 4px;
    color: var(--primary-color);
}

.welcome__authen-text {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0.5rem 1rem 0 1rem;
}

.authen__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
}

.authen__btn span {
    margin: 0 0.8rem;
    font-size: 1.4rem;
    color: #ccc;
}

.authen__btn a {
    color: var(--primary-color);
    font-size: 1.5rem;
    transition-duration: 0.3s;
}

.authen__btn a:hover {
    text-decoration: underline;
}

.endow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.endow:hover .svg__viewoffers,
.endow:hover i.icon__down {
    color: var(--primary-color);
}

.endow__span {
    display: flex;
    align-items: center;    
}

.svg__endow {
    width: 2.2rem;
    height: 2.2rem;
}

.svg__viewoffers {
    margin-left: 0.6rem;
    font-size: 1.4rem;
    transition-duration: 0.3s;
}

.endow i.icon__down {
    font-size: 1.5rem;
    transition-duration: 0.3s;
}

.banner__offer {
    display: flex;
    flex-direction: column;
    height: var(--offer-height);
    align-items: center;
    background-color: var(--white-color);
    box-shadow: var(--tw-shadow);
    margin-top: 1rem;
    border-radius: 1rem;
}

.banner__offer-title {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--offer-color);
    font-size: 1.3rem;
    width: 20rem;
    height: 2.8rem;
    justify-content: center;
    color: var(--text-color);
    margin-top: 1rem;
}

.banner__offer-list {
    margin: 1rem 0.5rem 0 0.5rem;
}

.banner__offer-item {
    display: flex;
    align-items: center;
}

.banner__offer-item > svg {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.banner__offer-item > span,
.banner__offer-item > span > b {
    font-size: 1.3rem;
}