#container {
    margin-top: 1rem;
}

.content__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.8rem;
}

.category {
    display: block;
    border-radius: 1rem;
    background-color: var(--white-color);
    box-shadow: var(--tw-shadow);
    grid-row: span 4 / span 4;
}

.category__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 1rem;
    cursor: pointer;
    transition-duration: 0.3s;
}

.category__item:hover {
    background-color: var(--categories-hover);
}

.category__item span {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 1.6rem;
}

.category__item span a,
.category__item i {
    font-size: 1.4rem;
}

.category__item span a {
    transition-duration: 0.3s;
}

.icon__down {
    color: var(--icon-down-color);
}

.category__item span a:hover {
    color: var(--primary-color);
}

.advertisement {
    display: block;
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    border-radius: 1rem;
}

.banner__large-swiper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--tw-shadow);
}

.swiper-slide {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
}

.swiper-slide > a {
    display: block;
    cursor: pointer;
}

.swiper-slide > a > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.swiper-pagination {
    background-color: transparent;  
    gap: 10px;
}

.swiper-pagination > span {
    width: 35px;
    height: 3px;
    border: none;
    border-radius: 10px;
}

.swiper-button.swiper-button-next,
.swiper-button.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.swiper-button.swiper-button-prev {
    border-radius: 0 50px 50px 0;
    left: 0;
    transform: translateX(-30px);
}

.swiper-button.swiper-button-next {
    right: 0;
    border-radius: 50px 0 0 50px;
    transform: translateX(30px);
}

.swiper-button.swiper-button-prev::after,
.swiper-button.swiper-button-next::after {
    font-size: 1.8rem;
    font-weight: bold;
}

.swiper-button.swiper-button-prev::after {
    position: relative;
    right: 2px;
}

.swiper-button.swiper-button-next::after {
    position: relative;
    left: 2px;
}

.swiper:hover .swiper-button.swiper-button-next,
.swiper:hover .swiper-button.swiper-button-prev {
    opacity: 1;
    visibility: visible;
    transform: translateX(0); /* trượt về vị trí ban đầu */
}

.swiper-button-disabled {
    opacity: 0.3 !important;
    cursor: not-allowed !important;
    pointer-events: none;
}

.banner__small {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.banner__small > a {
    box-shadow: var(--tw-shadow);
}

.banner__small > a > img {
    width: 23.3rem;
    border-radius: 1rem;
    height: 12rem;
}

.banner__vertical {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    border-radius: 1rem;
}

.banner__info {
    box-shadow: var(--tw-shadow);
    border-radius: 1rem;
    padding: 1rem 0.5rem 0.6rem 0.5rem;
}

.welcome__authen-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 1.4rem;
    width: 100%;
}

.header__welcome-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--border-line-color);
    vertical-align: middle;
    object-fit: contain;
}

.welcome__text {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

.welcome__text > span {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 4px;
    color: var(--primary-color);
}

.welcome__authen-text {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0.5rem 1rem 0 1rem;
}

.authen__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
}

.authen__btn span {
    margin: 0 0.8rem;
    font-size: 1.4rem;
    color: #ccc;
}

.authen__btn a {
    color: var(--primary-color);
    font-size: 1.5rem;
    transition-duration: 0.3s;
}

.authen__btn a:hover {
    text-decoration: underline;
}

.endow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.endow:hover .svg__viewoffers,
.endow:hover i.icon__down {
    color: var(--primary-color);
}

.endow__span {
    display: flex;
    align-items: center;    
}

.svg__endow {
    width: 2.2rem;
    height: 2.2rem;
}

.svg__viewoffers {
    margin-left: 0.6rem;
    font-size: 1.4rem;
    transition-duration: 0.3s;
}

.endow i.icon__down {
    font-size: 1.5rem;
    transition-duration: 0.3s;
}

.banner__offer {
    display: flex;
    flex-direction: column;
    height: var(--offer-height);
    align-items: center;
    background-color: var(--white-color);
    box-shadow: var(--tw-shadow);
    margin-top: 1rem;
    border-radius: 1rem;
}

.banner__offer-title {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--offer-color);
    font-size: 1.3rem;
    width: 20rem;
    height: 2.8rem;
    justify-content: center;
    color: var(--text-color);
    margin-top: 1rem;
    cursor: default;
}

.banner__offer-list {
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.banner__offer-item {
    display: flex;
    align-items: center;
    height: 3.18rem;
    gap: 5px;
}

.offers__text {
    line-height: 1.5rem;
    transition-duration: 0.2s;
}

.offers__text, 
.offers__text b {
    font-size: 1.3rem;
    cursor: pointer;
}

.banner__offer-item:hover .offers__text {
    text-decoration: underline;
}

/* Campaigns */
.campaigns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.4rem;
}

.header__campaigns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    background: #FF365A;
    background: linear-gradient(90deg, rgba(255, 54, 90, 1) 0%,rgba(255, 194, 185, 1) 26%,rgba(255, 194, 185, 1) 79%,rgba(255, 54, 90, 1) 100%);
    height: 6rem;
    clip-path: polygon(4% 0, 96% 0, 100% 100%, 0 100%);
}

.header__campaigns > p {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: fit-content;
    background-color: transparent;
    font-size: 2.8rem;
    color: var(--text-color);
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s ease;
}

.separator__campaigns {
    width: 2px;
    background-color: var(--white-color);
    border-radius: 2px;
    height: 4rem;
}

.header__campaigns > p.active::after {
    position: absolute;
    content: "";
    bottom: -0.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 1rem;
    background: var(--primary-color);
    border-radius: 1rem;
    transition: width 0.3s ease, background 0.3s ease;
}

.header__campaigns-item:hover {
    color: var(--primary-color);
}

/* Thanh underline trượt */
.header__underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: var(--primary-color);
    border-radius: 10px;
    width: 0;
    transition: all 0.3s ease;
}
 
.content__campaigns {
    position: relative;
    display: block;
    width: 100%;
    background: #F2A794;
    background: radial-gradient(circle, rgba(242, 167, 148, 1) 0%,rgba(229, 91, 94, 255) 94%,rgba(242, 167, 148, 1) 100%);
    border: 1.4rem solid var(--deal-border-color);
    border-radius: 2rem;
}

.header__flashsale {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 2rem;
}

.timer__deal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.flash-sale__period {
    border-radius: 1.5rem;
    font-size: 1.5rem;
    padding: 1.05rem 1.6rem;
    font-weight: bold;
    color: var(--flashsale-period-color);
    cursor: pointer;
    border: 2px solid var(--flashsale-period-color);
}

.flash-sale__period--disable {
    cursor: not-allowed;
}

.flash-sale__period--active {
    border: 2px solid var(--white-color);
    background-color: var(--white-color);
    color: var(--flashsale-timer-color);
}

.countdown__flashsale {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white-color);
    font-size: 3.5rem;
    height: 4rem;
}

.text__countdown {
    font-size: 2.6rem;
    margin-right: 0.5rem;
    font-weight: bold;
    cursor: default;
}

.timer__countdown span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    font-size: 2.3rem;
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 0.6rem;
    color: var(--black-color);
    font-weight: bold;
    cursor: default;
}

.timer__countdown-timer::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 5px solid #e65e60;
}

.timer__countdown-timer::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 5px solid #e65e60;
}

.colon__countdown-flashsale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
}

.colon__countdown-flashsale span {
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--white-color);
}

.products {
    display: flex;
    justify-content: space-evenly;
}

.products__deal-item {
    width: 22.4rem;
}

.products__deal-link > img {
    height: 17rem;
}

.products__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: 1rem;
}

.products__item-link {
    display: flex;
    flex-direction: column;
}

.products__info {
    margin-top: 1rem;
}

.products__info h3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 1.42rem;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.4em * 3);
    line-height: 1.4;
    font-weight: 600;
}

.prodcuts__prices {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 2.4rem;
    margin-top: 0.5rem;
    gap: 0.8rem;
}

.new__prices {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color);
}

.old__prices {
    font-size: 1.4rem;
    color: var(--icon-down-color);
    text-decoration: line-through;
}

.flashsale__progress {
    display: flex;
    align-items: center;  /* căn giữa icon và thanh */
    gap: 0.3rem;
    margin-top: 1.2rem;
}

.flashsale__icon {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
}

.flashsale__progress-bar {
    position: relative;
    flex: 1;
    height: 1.8rem;  /* thanh cao 1.8rem */
    background-color: rgba(86, 211, 203, 0.4);
    border-radius: 9px;  /* bán kính = 50% height */
    overflow: hidden;

    display: flex;
    align-items: center;   /* căn chữ giữa theo chiều dọc */
    justify-content: center;    
}

.flashsale__progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%; /* JS sẽ cập nhật */
    background: rgba(86, 211, 203);
    transition: width 0.3s ease;
    z-index: 1;
}

.flashsale__progress-text {
    position: relative;
    z-index: 2;
    color: #064e3b;
    font-size: 1.34rem;   /* chữ lớn hơn */
    font-weight: 600;
    white-space: nowrap;
    pointer-events: none;
    line-height: 1.8rem;   /* khớp với chiều cao thanh để luôn căn giữa */
    z-index: 2;
}

.flashsale__progress-text span {
    font-size: inherit;
    font-weight: inherit; /* nếu muốn đồng bộ luôn */
}

.note__flashsale {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.5rem 0 1rem 0;
    color: var(--white-color);
}

.action__deal {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
}

.star__deal, .favorite__deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
}

.star__deal {
    display: flex;
    align-items: center; /* căn giữa dọc */
    font-weight: 600;
}

.action__deal-icon {
    color: #f5c518; /* vàng sao */
    width: 1.8rem;
    height: 1.8rem;
    flex-shrink: 0;      /* tránh bị co nhỏ */
}

.text__star {
    font-size: 1.9rem;
    line-height: 1;      /* dòng số bằng chiều cao icon */
    display: flex;
    align-items: center; /* căn giữa trong span */
}

.favorite__deal-icon {
    width: 1.6rem;
    height: 1.6rem;
    color: var(--favorite-color);
}

.text__favorite {
    font-size: 1.4rem;
    color: var(--favorite-color);
}