#container {
    margin-top: 1rem;
}

.content__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.8rem;
}

.category {
    display: block;
    border-radius: 1rem;
    background-color: var(--white-color);
    box-shadow: var(--tw-shadow);
    grid-row: span 5 / span 5;
}

.category__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 1rem;
    cursor: pointer;
    transition-duration: 0.3s;
}

.category__item:hover {
    background-color: var(--categories-hover);
}

.category__item span {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 1.6rem;
}

.category__item span a,
.category__item i {
    font-size: 1.4rem;
}

.category__item span a {
    transition-duration: 0.3s;
}

.category__item i {
    color: var(--icon-down-color);
}

.category__item span a:hover {
    color: var(--primary-color);
}

.advertisement {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    border-radius: 1rem;
}

.banner__large-swiper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--tw-shadow);
}

.swiper-slide {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
}

.swiper-slide > a {
    display: block;
    cursor: pointer;
}

.swiper-slide > a > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.swiper-pagination {
    background-color: transparent;  
    gap: 10px;
}

.swiper-pagination > span {
    width: 35px;
    height: 3px;
    border: none;
    border-radius: 10px;
}

.swiper-button.swiper-button-next,
.swiper-button.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.swiper-button.swiper-button-prev {
    border-radius: 0 50px 50px 0;
    left: 0;
    transform: translateX(-30px);
}

.swiper-button.swiper-button-next {
    right: 0;
    border-radius: 50px 0 0 50px;
    transform: translateX(30px);
}

.swiper-button.swiper-button-prev::after,
.swiper-button.swiper-button-next::after {
    font-size: 1.8rem;
    font-weight: bold;
}

.swiper-button.swiper-button-prev::after {
    position: relative;
    right: 2px;
}

.swiper-button.swiper-button-next::after {
    position: relative;
    left: 2px;
}

.swiper:hover .swiper-button.swiper-button-next,
.swiper:hover .swiper-button.swiper-button-prev {
    opacity: 1;
    visibility: visible;
    transform: translateX(0); /* trượt về vị trí ban đầu */
}

.swiper-button-disabled {
    opacity: 0.3 !important;
    cursor: not-allowed !important;
    pointer-events: none;
}

.banner__small {
    display: flex;
    gap: 10px;
    margin-top: 1.5rem;
}

.banner__small > a {
    box-shadow: var(--tw-shadow);
}

.banner__small > a > img {
    width: 26rem;
    border-radius: 1rem;
}

.banner__vertical {
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    box-shadow: var(--tw-shadow);
    border-radius: 1rem;
}

.imgBannerDeal {
    grid-column-start: 2;
    grid-row-start: 5;
}

.imgBannerDeal1 {
    grid-column-start: 3;
    grid-row-start: 5;
}

.imgBannerDeal2 {
    grid-column-start: 4;
    grid-row-start: 5;
}